<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>All Words</h1>

<table>
    <tr>
        <th>Word</th>
        <th>Part of Speech</th>
        <th>Definition</th>
    </tr>

    <% for(let i = 0; i < words.length; i++) { %>
        <tr>
            <td><%= words[i] %></td>
            <td><%= parts[i] %></td>
            <td><%= definitions[i] %></td>
        </tr>
    <% } %>

</table>
</body>
</html>