<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Home Page
    </title>
</head>
<body>
    <h1>
        Want to Know Your Word of the Day?
    </h1>
    <p>
        It should be at /words/wotd
    </p>
    <p>
        Hello <%= locals.userName ?? 'New User!' %>
    </p>
    <% 
    for(let i=0;i<1;i++){ %>
    <p>
        <img width="200" src="book.png" alt="Stack of magic books">
    </p>
    <%} %>
    
</body>
</html>